// Variables
:root {
  --primary-blue-500: hsl(238, 40%, 52%);
  --primary-blue-300: hsl(239, 57%, 85%);
  --primary-red-500: hsl(358, 79%, 66%);
  --primary-red-300: hsl(357, 100%, 86%);

  --neutral-700: hsl(212, 24%, 26%);
  --neutral-600: hsl(211, 10%, 45%);
  --neutral-200: hsl(223, 19%, 93%);
  --neutral-100: hsl(228, 33%, 97%);
  --white: hsl(0, 0%, 100%);
}

// Resets
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

// Typography
body {
  font-family: "Rubik", sans-serif;
  font-weight: 400;
}

button, textarea {
  font: inherit;
}
